@model IEnumerable<WebInstagram.Models.UserPost>

@{
    ViewBag.Title = "Index";
}
             }
@if (Session["LogedUserFullname"] != null)
{
  string userID = Session["LogedUserID"].ToString();

    <header>
        @Html.Partial("_MainNav")
    </header>
    <div class="container" style="margin-top: 52px;">
        <div class="center">

            <div class="form_wrapper">
                @using (Html.BeginForm("Upload", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    var Created = DateTime.Now;

                    <form action="" enctype="multipart/form-data" method="post" class="form-inline">
                        <input name="UserID" type="text" value="@userID" hidden>
                        <div class="group">
                            <input class="inputMaterial" name="Title" type="text" style="width:40%" required>
                            <span class="highlight" style="width:40%"></span>
                            <span class="bar" style="width:40%"></span>
                            <label>Title</label>
                        </div>
                        <div class="group">
                            <textarea class="inputMaterial" id="content" name="Content" placeholder="Say Something..." style=" width:100%; " required></textarea>
                            <span class="highlight " style="width:100%"></span>
                            <span class="bar" style="width:100%"></span>
                            <input type="file" name="File" id="toProcess" class="file" style="margin-left:0px">
                            @Html.ValidationMessage("CustomError")
                            <input type="submit" name="name" value="Post " class="btns pull-right" style="width: 70px;margin-right:10px" />
                        </div>
                    </form>
                }
            </div>
    
            <br>
            <div class="row posts">
                <div class="col-lg-2">
                </div>
                <div class="col-lg-8">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a href="#" type='button' class='btn btn-danger pull-right'>Delete</a>
                            <a href="#" type='button' class='btn btn-default pull-right'>Edit</a>

                            <small id="time_posted"> <i>posted by</i> : user@gmail.com</small>

                            <div class="row">
                                <div class="col-xs-12 col-md-12">
                                    <a href="#" class="thumbnail"><img src="" alt="image" /></a>
                                </div>
                            </div>

                            <hr>
                            <p>postContent</p>
                            <br>

                        </div>
                    </div>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
         
          

        </div>
    </div>
}

                                    <script type="text/javascript">
                                        function refresh() {
                                            console.log("refresh");
                                            setTimeout(function () {
                                                location.reload()
                                            }, 100);
                                        }
                                    </script>
