@model WebInstagram.Post

@{
    ViewBag.Title = "Index";
}
@if (Session["LogedUserFullname"] != null)
{
  
<header>
    @Html.Partial("_MainNav")
</header>

    <div class="container" style="margin-top: 52px;">
        <div class="center">
            <div class="form_wrapper">
                @using (Html.BeginForm("Upload", "Post", FormMethod.Post, new { enctype = "multipart/form-data" }))
                {
                    @Html.ValidationSummary(true)
    <div class="group">
        <input class="inputMaterial" name="Title" type="text" style="width:40%" required>
        <span class="highlight" style="width:40%"></span>
        <span class="bar" style="width:40%"></span>
        <label>Title</label>
    </div>
    <div class="group">
        <textarea class="inputMaterial" id="content" name="Content" placeholder="Say Something..." style=" width:100%; " required></textarea>
        <span class="highlight " style="width:100%"></span>
        <span class="bar" style="width:100%"></span>
     </div>
        <table>
            <tr>
                <td>Select File : </td>
                <td>
                    @Html.TextBoxFor(Model => Model.File, new { type = "file" })
                    @Html.ValidationMessage("CustomError")
                </td>
                <td>
                    <input type="submit" value="Upload" />
                </td>
            </tr>
        </table>
        }
        <!-- //
         
          //  {
          //  @Html.AntiForgeryToken()
          //  @Html.ValidationSummary(true)
          //  var Created = DateTime.Now;

                        <form action="" enctype="multipart/form-data" method="post" class="form-inline">
                            <div class="group">
                                <input class="inputMaterial" name="Title" type="text" style="width:40%" required>
                                <span class="highlight" style="width:40%"></span>
                                <span class="bar" style="width:40%"></span>
                                <label>Title</label>
                            </div>
                            <div class="group">
                                <textarea class="inputMaterial" id="content" name="Content" placeholder="Say Something..." style=" width:100%; " required></textarea>
                                <span class="highlight " style="width:100%"></span>
                                <span class="bar" style="width:100%"></span>
                                <input type="file" name="File" id="toProcess" class="file" style="margin-left:0px">
                                @Html.ValidationMessage("CustomError")
                                <input type="submit" name="name" value="Post " class="btns pull-right" style="width: 70px;margin-right:10px" />
                            </div>
                        </form>
        }-->
    </div>
        </div>
        </div>
            <h1 style="margin-top: 52px;">Welcome @Session["LogedUserFullname"].ToString()</h1>
}
<script type="text/javascript">
    function refresh() {
        console.log("refresh");
        setTimeout(function () {
            location.reload()
        }, 100);
    }
</script>
